body {
    margin: 150px auto;
}

#count {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10em;
    text-align: center;
}

.buttons {
text-align: center;
}

.button {
    font-size: 1.5em;
    background-color: hsl(214, 100%, 74%);
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover{
    background-color: hsl(214, 100%, 56%);
}